{
  "swagger": "2.0",
  "info": {
    "title": "BeezUP Gateway API ",
    "description": "# The REST API of BeezUP system - Adapter\n## Overview\nThe REST APIs provide programmatic access to read and write BeezUP data. \n\nThis API have to be implemented by the marketplaces to be able to receive/send data from BeezUP.\n\n\nThe main features are:\n- Receive merchant feeds (products and offers)\n- Fetch merchant orders\n- Receive merchant order changes\n- ...\n\n\n## Things to keep in mind\n### Media type\nThe default media type for requests and responses is application/json. Where noted, some operations support other content types. If no additional content type is mentioned for a specific operation, then the media type is application/json.\n\n### Required content type\nThe required and default encoding for the request and responses is UTF8.\n\n### Required date time format\nAll our date time are formatted in ISO 8601 format: 2014-06-24T16:25:00Z.\n\n### Base URL\nAll URLs returned by the BeezUP API are relative to this base URL, and all requests to the REST API must use this base URL template.\n\nYou can test our API on https://beezup.github.io/mkp-adpt-api-docs/swagger-ui\\\\\nYou can contact us on [gitter, #BeezUP/API](https://gitter.im/BeezUP/API)",
    "version": "1.0",
    "x-logo": {
      "url": "https://avatars0.githubusercontent.com/u/25665430",
      "backgroundColor": "#FFFFFF"
    },
    "contact": {
      "email": "help@beezup.com"
    },
    "license": {
      "name": "BeezUP",
      "url": "https://www.beezup.com/"
    }
  },
  "host": "mkpapigateway.beezup.com",
  "basePath": "",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Marketplace Gateway API - Platform - Platform",
      "x-displayName": "Platform"
    },
    {
      "name": "Marketplace Gateway API - Feeds - Publication",
      "x-displayName": "Publication"
    },
    {
      "name": "Marketplace Gateway API - Orders - Order Management",
      "x-displayName": "Order Management"
    }
  ],
  "paths": {
    "/marketplace/platform/v1/{marketplaceBusinessCode}/{accountId}/health": {
      "get": {
        "tags": [
          "Marketplace Gateway API - Platform - Platform"
        ],
        "x-tagGroups": "Platform",
        "summary": "Health check the marketplace system",
        "operationId": "HealthCheckGateway",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceBusinessCodeParameter"
          },
          {
            "$ref": "#/parameters/accountIdParameter"
          },
          {
            "$ref": "#/parameters/beezUPRequestIdHeaderParameter"
          },
          {
            "$ref": "#/parameters/beezUPCorrelationIdHeaderParameter"
          },
          {
            "$ref": "#/parameters/credentialParameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_HealthCheck"
          },
          "400": {
            "$ref": "#/responses/400_MBC_Invalid"
          },
          "401": {
            "$ref": "#/responses/403_Invalid_Merchant_Credentials"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/platform/v1/{marketplaceBusinessCode}/{accountId}/exchangedMessages/{beezUPCorrelationId}": {
      "get": {
        "tags": [
          "Marketplace Gateway API - Platform - Platform"
        ],
        "x-tagGroups": "Platform",
        "operationId": "GetExchangedMessages",
        "summary": "Get the exchanged messages with the marketplace",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceBusinessCodeParameter"
          },
          {
            "$ref": "#/parameters/accountIdParameter"
          },
          {
            "name": "beezUPCorrelationId",
            "in": "path",
            "type": "string",
            "required": true,
            "format": "CorrelationId"
          },
          {
            "name": "X-ContinuationToken",
            "in": "header",
            "type": "string",
            "required": false,
            "description": "If the X-ContinuationToken in response is fulfilled, you can have the next page using this parameter",
            "x-base64": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "The exchanged messages are retrieved",
            "headers": {
              "X-NextContinuationToken": {
                "type": "string",
                "description": "If there is more result for this query, the next continuation token will be fulffiled"
              }
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/exchangedMessages"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400_MBC_Invalid"
          },
          "401": {
            "$ref": "#/responses/403_Invalid_Merchant_Credentials"
          },
          "404": {
            "$ref": "#/responses/404_BeezUP_TraceId_NotFound"
          },
          "409": {
            "$ref": "#/responses/409_Not_Yet_Available"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/feeds/v1/{marketplaceBusinessCode}/{accountId}/publications/{publicationId}/start": {
      "post": {
        "tags": [
          "Marketplace Gateway API - Feeds - Publication"
        ],
        "summary": "Start the feed publication",
        "operationId": "StartFeedPublication",
        "parameters": [
          {
            "$ref": "#/parameters/publicationIdParameter"
          },
          {
            "$ref": "#/parameters/marketplaceBusinessCodeParameter"
          },
          {
            "$ref": "#/parameters/accountIdParameter"
          },
          {
            "$ref": "#/parameters/credentialParameter"
          },
          {
            "$ref": "#/parameters/beezUPRequestIdHeaderParameter"
          },
          {
            "$ref": "#/parameters/beezUPCorrelationIdHeaderParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/startFeedPublicationRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The feed publication has been started!",
            "headers": {
              "x-MKP-ADPT-ExchangeMessages": {
                "type": "string",
                "description": "The exchange messages with the marketplace. Exchange Messages type serialized in Json encoded in base64.",
                "format": "ExchangedMessages"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400_MBC_Or_Request_Invalid"
          },
          "401": {
            "$ref": "#/responses/403_Invalid_Merchant_Credentials"
          },
          "404": {
            "$ref": "#/responses/404_Publication_NotFound"
          },
          "409": {
            "$ref": "#/responses/409_Publication_Already_Exists"
          },
          "503": {
            "$ref": "#/responses/503_Marketplace_Down"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/feeds/v1/{marketplaceBusinessCode}/{accountId}/publications/{publicationId}/publishFile": {
      "post": {
        "tags": [
          "Marketplace Gateway API - Feeds - Publication"
        ],
        "summary": "Publish the feeds file",
        "consumes": [
          "text/uri-list"
        ],
        "operationId": "PublishFeedsFile",
        "parameters": [
          {
            "$ref": "#/parameters/publicationIdParameter"
          },
          {
            "$ref": "#/parameters/marketplaceBusinessCodeParameter"
          },
          {
            "$ref": "#/parameters/accountIdParameter"
          },
          {
            "$ref": "#/parameters/credentialParameter"
          },
          {
            "$ref": "#/parameters/beezUPRequestIdHeaderParameter"
          },
          {
            "$ref": "#/parameters/beezUPCorrelationIdHeaderParameter"
          },
          {
            "name": "request",
            "in": "body",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The feed messages have been registered!",
            "headers": {
              "x-MKP-ADPT-ExchangeMessages": {
                "type": "string",
                "description": "The exchange messages with the marketplace. Exchange Messages type serialized in Json encoded in base64.",
                "format": "ExchangedMessages"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400_MBC_Or_Request_Invalid"
          },
          "401": {
            "$ref": "#/responses/403_Invalid_Merchant_Credentials"
          },
          "404": {
            "$ref": "#/responses/404_Publication_NotFound"
          },
          "409": {
            "$ref": "#/responses/409_Publication_Already_Completed"
          },
          "503": {
            "$ref": "#/responses/503_Marketplace_Down"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/feeds/v1/{marketplaceBusinessCode}/{accountId}/publications/{publicationId}/publish": {
      "post": {
        "tags": [
          "Marketplace Gateway API - Feeds - Publication"
        ],
        "summary": "Publish a batch of feeds",
        "operationId": "PublishFeeds",
        "parameters": [
          {
            "$ref": "#/parameters/publicationIdParameter"
          },
          {
            "$ref": "#/parameters/marketplaceBusinessCodeParameter"
          },
          {
            "$ref": "#/parameters/accountIdParameter"
          },
          {
            "$ref": "#/parameters/credentialParameter"
          },
          {
            "$ref": "#/parameters/beezUPRequestIdHeaderParameter"
          },
          {
            "$ref": "#/parameters/beezUPCorrelationIdHeaderParameter"
          },
          {
            "$ref": "#/parameters/contentEncodingRequiredParameter"
          },
          {
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/publishFeedsRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The feed messages have been registered!",
            "headers": {
              "x-MKP-ADPT-ExchangeMessages": {
                "type": "string",
                "description": "The exchange messages with the marketplace. Exchange Messages type serialized in Json encoded in base64.",
                "format": "ExchangedMessages"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400_MBC_Or_Request_Invalid"
          },
          "401": {
            "$ref": "#/responses/403_Invalid_Merchant_Credentials"
          },
          "404": {
            "$ref": "#/responses/404_Publication_NotFound"
          },
          "409": {
            "$ref": "#/responses/409_Publication_Already_Completed"
          },
          "503": {
            "$ref": "#/responses/503_Marketplace_Down"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/feeds/v1/{marketplaceBusinessCode}/{accountId}/publications/{publicationId}/unpublish": {
      "post": {
        "tags": [
          "Marketplace Gateway API - Feeds - Publication"
        ],
        "summary": "Unpublish a batch of feeds",
        "operationId": "UnpublishFeeds",
        "parameters": [
          {
            "$ref": "#/parameters/publicationIdParameter"
          },
          {
            "$ref": "#/parameters/marketplaceBusinessCodeParameter"
          },
          {
            "$ref": "#/parameters/accountIdParameter"
          },
          {
            "$ref": "#/parameters/credentialParameter"
          },
          {
            "$ref": "#/parameters/beezUPRequestIdHeaderParameter"
          },
          {
            "$ref": "#/parameters/beezUPCorrelationIdHeaderParameter"
          },
          {
            "$ref": "#/parameters/contentEncodingRequiredParameter"
          },
          {
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/unpublishFeedsRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The feed messages have been registered!",
            "headers": {
              "x-MKP-ADPT-ExchangeMessages": {
                "type": "string",
                "description": "The exchange messages with the marketplace. Exchange Messages type serialized in Json encoded in base64.",
                "format": "ExchangedMessages"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400_MBC_Or_Request_Invalid"
          },
          "401": {
            "$ref": "#/responses/403_Invalid_Merchant_Credentials"
          },
          "404": {
            "$ref": "#/responses/404_Publication_NotFound"
          },
          "409": {
            "$ref": "#/responses/409_Publication_Already_Completed"
          },
          "503": {
            "$ref": "#/responses/503_Marketplace_Down"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/feeds/v1/{marketplaceBusinessCode}/{accountId}/publications/{publicationId}/complete": {
      "post": {
        "tags": [
          "Marketplace Gateway API - Feeds - Publication"
        ],
        "summary": "Complete the feed publication",
        "operationId": "CompleteFeedPublication",
        "parameters": [
          {
            "$ref": "#/parameters/publicationIdParameter"
          },
          {
            "$ref": "#/parameters/marketplaceBusinessCodeParameter"
          },
          {
            "$ref": "#/parameters/accountIdParameter"
          },
          {
            "$ref": "#/parameters/credentialParameter"
          },
          {
            "$ref": "#/parameters/beezUPRequestIdHeaderParameter"
          },
          {
            "$ref": "#/parameters/beezUPCorrelationIdHeaderParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/completeFeedPublicationRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The feed comands has been completed!",
            "headers": {
              "x-MKP-ADPT-ExchangeMessages": {
                "type": "string",
                "description": "The exchange messages with the marketplace. Exchange Messages type serialized in Json encoded in base64.",
                "format": "ExchangedMessages"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400_MBC_Or_Request_Invalid"
          },
          "401": {
            "$ref": "#/responses/403_Invalid_Merchant_Credentials"
          },
          "404": {
            "$ref": "#/responses/404_Publication_NotFound"
          },
          "409": {
            "$ref": "#/responses/409_Publication_Already_Completed"
          },
          "503": {
            "$ref": "#/responses/503_Marketplace_Down"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/feeds/v1/{marketplaceBusinessCode}/{accountId}/publications/{publicationId}/status": {
      "get": {
        "tags": [
          "Marketplace Gateway API - Feeds - Publication"
        ],
        "x-tagGroups": "Publication",
        "operationId": "CheckPublicationStatus",
        "summary": "Check the publication status",
        "parameters": [
          {
            "$ref": "#/parameters/publicationIdParameter"
          },
          {
            "$ref": "#/parameters/marketplaceBusinessCodeParameter"
          },
          {
            "$ref": "#/parameters/accountIdParameter"
          },
          {
            "$ref": "#/parameters/credentialParameter"
          },
          {
            "$ref": "#/parameters/beezUPRequestIdHeaderParameter"
          },
          {
            "$ref": "#/parameters/beezUPCorrelationIdHeaderParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Publication status retrieved",
            "headers": {
              "x-MKP-ADPT-ExchangeMessages": {
                "type": "string",
                "description": "The exchange messages with the marketplace. Exchange Messages type serialized in Json encoded in base64.",
                "format": "ExchangedMessages"
              }
            },
            "schema": {
              "$ref": "#/definitions/checkFeedPublicationStatusResponse"
            }
          },
          "400": {
            "$ref": "#/responses/400_MBC_Or_Request_Invalid"
          },
          "401": {
            "$ref": "#/responses/403_Invalid_Merchant_Credentials"
          },
          "404": {
            "$ref": "#/responses/404_Publication_NotFound"
          },
          "409": {
            "$ref": "#/responses/409_Not_Yet_Available"
          },
          "503": {
            "$ref": "#/responses/503_Marketplace_Down"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/feeds/v1/{marketplaceBusinessCode}/{accountId}/publications/{publicationId}/reporting": {
      "get": {
        "tags": [
          "Marketplace Gateway API - Feeds - Publication"
        ],
        "x-tagGroups": "Publication",
        "operationId": "GetPublicationReporting",
        "summary": "Get the publication reporting",
        "parameters": [
          {
            "$ref": "#/parameters/publicationIdParameter"
          },
          {
            "$ref": "#/parameters/marketplaceBusinessCodeParameter"
          },
          {
            "$ref": "#/parameters/accountIdParameter"
          },
          {
            "$ref": "#/parameters/credentialParameter"
          },
          {
            "$ref": "#/parameters/beezUPRequestIdHeaderParameter"
          },
          {
            "$ref": "#/parameters/beezUPCorrelationIdHeaderParameter"
          },
          {
            "$ref": "#/parameters/acceptEncodingRequiredParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The error reporting is retrieved",
            "headers": {
              "Content-Encoding": {
                "description": "The response is compressed to reduce traffic.",
                "type": "string",
                "x-example": "gzip"
              }
            },
            "x-MKP-ADPT-ExchangeMessages": {
              "type": "string",
              "description": "The exchange messages with the marketplace. Exchange Messages type serialized in Json encoded in base64.",
              "format": "ExchangedMessages"
            },
            "schema": {
              "$ref": "#/definitions/getFeedPublicationReportingResponse"
            }
          },
          "400": {
            "$ref": "#/responses/400_MBC_Or_Request_Invalid"
          },
          "401": {
            "$ref": "#/responses/403_Invalid_Merchant_Credentials"
          },
          "404": {
            "$ref": "#/responses/404_Publication_NotFound"
          },
          "409": {
            "$ref": "#/responses/409_Not_Yet_Available"
          },
          "503": {
            "$ref": "#/responses/503_Marketplace_Down"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/orders/v1/{marketplaceBusinessCode}/{accountId}/list": {
      "get": {
        "tags": [
          "Marketplace Gateway API - Orders - Order Management"
        ],
        "summary": "Get order list",
        "description": "RECOMMANDATION: We recommend to always use the orderMarketplaceLastModificationUtcDate to get from the marketplace and sort the response to BeezUP.\n",
        "operationId": "GetOrderList",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceBusinessCodeParameter"
          },
          {
            "$ref": "#/parameters/accountIdParameter"
          },
          {
            "$ref": "#/parameters/credentialParameter"
          },
          {
            "$ref": "#/parameters/beezUPRequestIdHeaderParameter"
          },
          {
            "$ref": "#/parameters/beezUPCorrelationIdHeaderParameter"
          },
          {
            "$ref": "#/parameters/acceptEncodingRequiredParameter"
          },
          {
            "$ref": "#/parameters/paginationContinuationTokenQueryStringParameter"
          },
          {
            "name": "orderMarketplaceModificationBeginUtcDate",
            "description": "The marketplace modification begin utc date already received by BeezUP. \nBeezUP expects that all orders modification date are more recent than this date.\nRECOMMANDATION: If the marketplace allows the filter with modification date, we recommend you to use this filter in priority instead of the purchase date to avoid useless pooling with the marketplace.\n",
            "required": true,
            "in": "query",
            "type": "string",
            "format": "date-time",
            "x-example": "2019-06-24T23:03:12.123Z"
          },
          {
            "name": "orderMarketplaceModificationEndUtcDate",
            "description": "The marketplace modification end utc date. \nBeezUP expects that all orders modification date are older than this date.\nRECOMMANDATION: If the marketplace allows the filter with modification date, we recommend you to use this filter in priority instead of the purchase date to avoid useless pooling with the marketplace.\n",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time",
            "x-example": "2019-06-24T23:03:12.123Z"
          },
          {
            "name": "orderPurchaseBeginUtcDate",
            "description": "The order purchase begin UTC date already received by BeezUP.\nBeezUP expects that all orders are more recent than this date.\nRECOMMANDATION: We send this information in case where the marketplace does not have any order last modification date.\nIf the marketplace allows the filter with modification date than use the modification date filter instead the purchase date filter.\n",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time",
            "x-example": "2019-06-24T23:03:12.123Z"
          },
          {
            "name": "orderLastPurchaseEndUtcDate",
            "description": "The order purchase end UTC date already received by BeezUP.\nBeezUP expects that all orders are older than this date.\nRECOMMANDATION: We send this information in case where the marketplace does not have any order last modification date.\nIf the marketplace allows the filter with modification date than use the modification date filter instead the purchase date filter.\n",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time",
            "x-example": "2019-06-24T23:03:12.123Z"
          }
        ],
        "responses": {
          "200": {
            "description": "The order list is retrieved",
            "headers": {
              "Content-Encoding": {
                "description": "The response is zipped to reduce traffic.",
                "type": "string",
                "x-example": "gzip"
              },
              "x-MKP-ADPT-ExchangeMessages": {
                "type": "string",
                "description": "The exchange messages with the marketplace. Exchange Messages type serialized in Json encoded in base64.",
                "format": "ExchangedMessages"
              }
            },
            "schema": {
              "$ref": "#/definitions/getOrderListResponse"
            }
          },
          "400": {
            "$ref": "#/responses/400_MBC_Or_Request_Invalid"
          },
          "503": {
            "$ref": "#/responses/503_Marketplace_Down"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/orders/v1/{marketplaceBusinessCode}/{accountId}/{marketplaceOrderId}": {
      "get": {
        "tags": [
          "Marketplace Gateway API - Orders - Order Management"
        ],
        "summary": "Get order",
        "operationId": "GetOrder",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceBusinessCodeParameter"
          },
          {
            "$ref": "#/parameters/accountIdParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/credentialParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchRequiredParameter"
          },
          {
            "$ref": "#/parameters/beezUPRequestIdHeaderParameter"
          },
          {
            "$ref": "#/parameters/beezUPCorrelationIdHeaderParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The order is retrieved",
            "headers": {
              "x-MKP-ADPT-ExchangeMessages": {
                "type": "string",
                "description": "The exchange messages with the marketplace. Exchange Messages type serialized in Json encoded in base64.",
                "format": "ExchangedMessages"
              }
            },
            "schema": {
              "$ref": "#/definitions/getOrderResponse"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "400": {
            "$ref": "#/responses/400_MBC_Invalid"
          },
          "404": {
            "$ref": "#/responses/404_Order_Not_Found"
          },
          "503": {
            "$ref": "#/responses/503_Marketplace_Down"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/orders/v1/{marketplaceBusinessCode}/{accountId}/{marketplaceOrderId}/changes/{orderChangeId}/message": {
      "post": {
        "tags": [
          "Marketplace Gateway API - Orders - Order Management"
        ],
        "summary": "Push an  order change message",
        "operationId": "PushOrderChangeMessage",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceBusinessCodeParameter"
          },
          {
            "$ref": "#/parameters/accountIdParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/orderChangeIdParameter"
          },
          {
            "$ref": "#/parameters/credentialParameter"
          },
          {
            "$ref": "#/parameters/beezUPRequestIdHeaderParameter"
          },
          {
            "$ref": "#/parameters/beezUPCorrelationIdHeaderParameter"
          },
          {
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/pushOrderChangeMessageRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The order change message have been accepted, please check the order change status response.",
            "headers": {
              "x-MKP-ADPT-ExchangeMessages": {
                "type": "string",
                "description": "The exchange messages with the marketplace. Exchange Messages type serialized in Json encoded in base64.",
                "format": "ExchangedMessages"
              }
            }
          },
          "400": {
            "$ref": "#/responses/400_MBC_Or_Request_Invalid"
          },
          "404": {
            "$ref": "#/responses/404_Order_Not_Found"
          },
          "503": {
            "$ref": "#/responses/503_Marketplace_Down"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/marketplace/orders/v1/{marketplaceBusinessCode}/{accountId}/{marketplaceOrderId}/changes/{orderChangeId}/status": {
      "get": {
        "tags": [
          "Marketplace Gateway API - Orders - Order Management"
        ],
        "x-tagGroups": "Order Management",
        "operationId": "CheckOrderChangeStatus",
        "summary": "Check the order change status",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceBusinessCodeParameter"
          },
          {
            "$ref": "#/parameters/accountIdParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/orderChangeIdParameter"
          },
          {
            "$ref": "#/parameters/credentialParameter"
          },
          {
            "$ref": "#/parameters/beezUPRequestIdHeaderParameter"
          },
          {
            "$ref": "#/parameters/beezUPCorrelationIdHeaderParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Order change status retrieved",
            "headers": {
              "x-MKP-ADPT-ExchangeMessages": {
                "type": "string",
                "description": "The exchange messages with the marketplace. Exchange Messages type serialized in Json encoded in base64.",
                "format": "ExchangedMessages"
              }
            },
            "schema": {
              "$ref": "#/definitions/orderChangeStatusResponse"
            }
          },
          "400": {
            "$ref": "#/responses/400_MBC_Invalid"
          },
          "404": {
            "$ref": "#/responses/404_OrderChangeId_Not_Found"
          },
          "503": {
            "$ref": "#/responses/503_Marketplace_Down"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    }
  },
  "definitions": {
    "exchangedMessages": {
      "type": "object",
      "required": [
        "operationName",
        "requestId"
      ],
      "properties": {
        "operationName": {
          "type": "string"
        },
        "requestId": {
          "$ref": "#/definitions/requestId"
        },
        "marketplaceExchangedMessages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/exchangedMessagesItem"
          }
        }
      }
    },
    "healthCheckDomain": {
      "type": "object",
      "properties": {
        "name": {
          "$ref": "#/definitions/healthCheckDomainName"
        },
        "message": {
          "type": "string",
          "description": "Gets the status message of the check.",
          "example": "Database connection OK"
        },
        "status": {
          "$ref": "#/definitions/healthCheckStatus"
        },
        "healthChecks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/healthCheck"
          }
        }
      }
    },
    "errorResponseMessage": {
      "x-exclude": true,
      "type": "object",
      "required": [
        "errors"
      ],
      "properties": {
        "errors": {
          "type": "array",
          "uniqueItems": false,
          "minLength": 1,
          "items": {
            "$ref": "#/definitions/userErrorMessage"
          }
        }
      }
    },
    "requestId": {
      "type": "string",
      "description": "The request identifier. It's a guid.",
      "format": "guid"
    },
    "exchangedMessagesItem": {
      "type": "object",
      "required": [
        "marketplaceOperationName",
        "requestUri",
        "requestUtcDate"
      ],
      "properties": {
        "marketplaceOperationName": {
          "type": "string"
        },
        "requestUri": {
          "type": "string",
          "format": "uri"
        },
        "responseUri": {
          "type": "string",
          "format": "uri"
        },
        "requestUtcDate": {
          "type": "string",
          "format": "date-time"
        },
        "responseUtcDate": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "healthCheckDomainName": {
      "type": "string",
      "description": "Health check domain name",
      "example": "feeds",
      "enum": [
        "feeds",
        "orders"
      ]
    },
    "healthCheckStatus": {
      "type": "string",
      "description": "Possible status values of a health check result.\n* degraded:  The check is degraded, failing but not critical\n* healthy: The check is healthy\n* ignored: The check was ignored\n* unhealthy:  The check is unhealthy\n",
      "enum": [
        "degraded",
        "healthy",
        "ignored",
        "unhealthy"
      ]
    },
    "healthCheck": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Health check domain name",
          "example": "My Storage Name"
        },
        "message": {
          "type": "string",
          "description": "Gets the status message of the check.",
          "example": "Database connection OK"
        },
        "status": {
          "$ref": "#/definitions/healthCheckStatus"
        },
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "userErrorMessage": {
      "type": "object",
      "x-exclude": true,
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "docUrl": {
          "$ref": "#/definitions/docUrl"
        },
        "code": {
          "type": "string",
          "description": "the error code. The error code can be a pattern containing the argument's name",
          "example": "CatalogImportationAlreadyInProgress(ExecutionId currentCatalogImportationId)"
        },
        "message": {
          "type": "string",
          "description": "The error message",
          "example": "There is already an importation in progress: b24d0dd8-a561-478a-9b26-34f573f03527\n"
        },
        "cultureName": {
          "type": "string",
          "description": "If the error is translated, the culture name will be indicated",
          "example": "en",
          "x-lov": "Go2CultureName"
        },
        "arguments": {
          "type": "array",
          "x-exclude": true,
          "description": "a dictionary string/object",
          "items": {
            "$ref": "#/definitions/userErrorMessageArgument"
          }
        }
      }
    },
    "docUrl": {
      "x-exclude": true,
      "type": "string",
      "format": "string",
      "description": "The documentation related to this operation.",
      "example": "https://api-docs.beezup.com/#operation/EnableChannelCatalog"
    },
    "userErrorMessageArgument": {
      "type": "object",
      "x-exclude": true,
      "required": [
        "name",
        "value"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The key of the parameter",
          "example": "currentCatalogImportationId"
        },
        "value": {
          "type": "object",
          "description": "The value of the parameter. Depending to the type."
        }
      }
    },
    "startFeedPublicationRequest": {
      "x-format": "Message",
      "type": "object",
      "required": [
        "feedType"
      ],
      "properties": {
        "feedType": {
          "$ref": "#/definitions/feedType"
        }
      }
    },
    "publishFeedsRequest": {
      "x-format": "Message",
      "type": "object",
      "required": [
        "messages"
      ],
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/publishFeed"
          }
        }
      }
    },
    "unpublishFeedsRequest": {
      "x-format": "Message",
      "type": "object",
      "required": [
        "messages"
      ],
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/unpublishFeed"
          }
        }
      }
    },
    "completeFeedPublicationRequest": {
      "x-format": "Message",
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string"
        },
        "errorId": {
          "type": "string"
        }
      }
    },
    "checkFeedPublicationStatusResponse": {
      "x-format": "Message",
      "description": "Publication Status Response",
      "type": "object",
      "required": [
        "status"
      ],
      "properties": {
        "status": {
          "$ref": "#/definitions/feedPublicationStatus"
        },
        "globalReportings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/reportingItem"
          }
        }
      }
    },
    "getFeedPublicationReportingResponse": {
      "x-format": "Message",
      "description": "Publication Reporting Response",
      "type": "object",
      "properties": {
        "feedReportings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/feedReporting"
          }
        }
      }
    },
    "feedType": {
      "type": "string",
      "enum": [
        "products",
        "offers"
      ]
    },
    "publishFeed": {
      "type": "object",
      "required": [
        "sku",
        "properties"
      ],
      "properties": {
        "sku": {
          "$ref": "#/definitions/sku"
        },
        "properties": {
          "description": "where key is the feed property name declared in the BeezUP configuration",
          "type": "array",
          "items": {
            "$ref": "#/definitions/metadataProperty"
          }
        },
        "children": {
          "type": "array",
          "description": "Contains item variations",
          "items": {
            "$ref": "#/definitions/publishFeedChild"
          }
        }
      }
    },
    "unpublishFeed": {
      "type": "object",
      "required": [
        "sku"
      ],
      "properties": {
        "sku": {
          "$ref": "#/definitions/sku"
        }
      }
    },
    "feedPublicationStatus": {
      "type": "string",
      "enum": [
        "inProgress",
        "done",
        "failed",
        "notStarted"
      ],
      "default": "notStarted"
    },
    "reportingItem": {
      "type": "object",
      "required": [
        "reportingType",
        "code",
        "message"
      ],
      "properties": {
        "type": {
          "$ref": "#/definitions/reportingType"
        },
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "feedReporting": {
      "type": "object",
      "required": [
        "sku",
        "reportings"
      ],
      "properties": {
        "sku": {
          "$ref": "#/definitions/sku"
        },
        "reportings": {
          "type": "array",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/reportingItem"
          }
        }
      }
    },
    "sku": {
      "type": "string",
      "description": "The Stock Keeping Unit (SKU), i.e. a merchant-specific identifier for a product or service, or the product to which the offer refers. http://schema.org/sku",
      "maxLength": 50
    },
    "metadataProperty": {
      "type": "object",
      "description": "The meta data of a property",
      "required": [
        "key"
      ],
      "properties": {
        "key": {
          "type": "string",
          "description": "The property name"
        },
        "value": {
          "type": "string",
          "description": "The property value"
        }
      }
    },
    "publishFeedChild": {
      "type": "object",
      "required": [
        "sku",
        "properties"
      ],
      "description": "Item variation",
      "properties": {
        "sku": {
          "$ref": "#/definitions/sku"
        },
        "properties": {
          "description": "where key is the feed property name declared in the BeezUP configuration",
          "type": "array",
          "items": {
            "$ref": "#/definitions/metadataProperty"
          }
        }
      }
    },
    "reportingType": {
      "type": "string",
      "enum": [
        "error",
        "warning"
      ],
      "default": "error"
    },
    "getOrderListResponse": {
      "x-format": "Message",
      "type": "object",
      "required": [
        "orders"
      ],
      "properties": {
        "nextPageContinuationToken": {
          "$ref": "#/definitions/paginationContinuationToken"
        },
        "orders": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/marketplaceOrder"
          }
        }
      }
    },
    "getOrderResponse": {
      "x-format": "Message",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/marketplaceOrder"
        }
      ]
    },
    "pushOrderChangeMessageRequest": {
      "x-format": "Message",
      "type": "object",
      "required": [
        "beezUPOrderChangeType",
        "marketplaceOrderItems"
      ],
      "properties": {
        "beezUPOrderChangeType": {
          "$ref": "#/definitions/beezUPOrderChangeType"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/metadataProperty"
          }
        },
        "marketplaceOrderItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/marketplaceOrderItem"
          }
        }
      }
    },
    "orderChangeStatusResponse": {
      "x-format": "Message",
      "type": "object",
      "required": [
        "beezUPOrderChangeStatus"
      ],
      "properties": {
        "marketplaceOrderChangeStatus": {
          "$ref": "#/definitions/marketplaceOrderChangeStatus"
        },
        "beezUPOrderChangeStatus": {
          "$ref": "#/definitions/beezUPOrderChangeStatus"
        },
        "errorMessage": {
          "type": "string"
        }
      }
    },
    "paginationContinuationToken": {
      "type": "string",
      "description": "Just a string value that will help to get the next page"
    },
    "marketplaceOrder": {
      "type": "object",
      "required": [
        "marketplaceOrderId",
        "orderPurchaseUtcDate",
        "marketplaceOrderStatus",
        "marketplaceOrderLastModificationUtcDate",
        "marketplaceOrderETag",
        "properties",
        "items"
      ],
      "properties": {
        "marketplaceOrderId": {
          "$ref": "#/definitions/marketplaceOrderId"
        },
        "orderPurchaseUtcDate": {
          "$ref": "#/definitions/orderPurchaseUtcDate"
        },
        "marketplaceOrderStatus": {
          "$ref": "#/definitions/marketplaceOrderStatus"
        },
        "marketplaceOrderLastModificationUtcDate": {
          "$ref": "#/definitions/marketplaceOrderLastModificationUtcDate"
        },
        "marketplaceOrderETag": {
          "$ref": "#/definitions/marketplaceOrderETag"
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/metadataProperty"
          }
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/marketplaceOrderItem"
          }
        }
      }
    },
    "beezUPOrderChangeType": {
      "type": "string",
      "description": "The order change type known by BeezUP.",
      "enum": [
        "AcceptOrder",
        "RefuseOrder",
        "ShipOrder",
        "CancelOrder",
        "RefundOrder",
        "RestockOrder",
        "PickUpOrder"
      ]
    },
    "marketplaceOrderItem": {
      "type": "object",
      "required": [
        "properties"
      ],
      "properties": {
        "marketplaceOrderItemId": {
          "$ref": "#/definitions/marketplaceOrderItemId"
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/metadataProperty"
          }
        }
      }
    },
    "marketplaceOrderChangeStatus": {
      "type": "string"
    },
    "beezUPOrderChangeStatus": {
      "type": "string",
      "enum": [
        "notStarted",
        "inProgress",
        "success",
        "failed"
      ],
      "default": "notStarted"
    },
    "marketplaceOrderId": {
      "description": "The marketplace order identifier",
      "type": "string"
    },
    "orderPurchaseUtcDate": {
      "type": "string",
      "format": "date-time",
      "description": "The purchase date of the order"
    },
    "marketplaceOrderStatus": {
      "type": "string",
      "description": "The marketplace order status"
    },
    "marketplaceOrderLastModificationUtcDate": {
      "type": "string",
      "format": "date-time",
      "description": "The modification date done by the marketplace"
    },
    "marketplaceOrderETag": {
      "type": "string",
      "description": "The ETAG based on the content of the marketplace order. It could based on the marketplace last modification date or the whole content of the order."
    },
    "marketplaceOrderItemId": {
      "type": "string"
    }
  },
  "parameters": {
    "marketplaceBusinessCodeParameter": {
      "name": "marketplaceBusinessCode",
      "in": "path",
      "required": true,
      "type": "string",
      "format": "MarketplaceBusinessCode"
    },
    "accountIdParameter": {
      "name": "accountId",
      "in": "path",
      "required": true,
      "type": "integer",
      "format": "AccountId"
    },
    "beezUPRequestIdHeaderParameter": {
      "name": "x-BeezUP-RequestId",
      "in": "header",
      "type": "string",
      "format": "RequestId",
      "required": true,
      "description": "Indicates to the server the BeezUP request id related to this call. All traces must use this id to be able to follow it."
    },
    "beezUPCorrelationIdHeaderParameter": {
      "name": "x-BeezUP-CorrelationId",
      "in": "header",
      "type": "string",
      "format": "CorrelationId",
      "required": true,
      "description": "Indicates to the server the BeezUP correlation id related to this call. All traces must use this id to be able to follow it."
    },
    "credentialParameter": {
      "name": "x-BeezUP-Credential",
      "in": "header",
      "required": true,
      "x-base64": "true",
      "description": "It's the merchant configuration related to the marketplace, serialiazed in json in base64.",
      "type": "string",
      "x-base64JsonType": "Dictionary<string,string>"
    },
    "publicationIdParameter": {
      "name": "publicationId",
      "in": "path",
      "required": true,
      "type": "string",
      "format": "PublicationId"
    },
    "contentEncodingRequiredParameter": {
      "name": "Content-Encoding",
      "description": "The content of the body is compressed to reduce traffic size.",
      "in": "header",
      "required": false,
      "type": "string",
      "x-example": "gzip"
    },
    "acceptEncodingRequiredParameter": {
      "name": "Accept-Encoding",
      "description": "Allows the client to indicate wether it accepts a compressed encoding to reduce traffic size.",
      "in": "header",
      "required": true,
      "type": "string",
      "x-example": "gzip"
    },
    "paginationContinuationTokenQueryStringParameter": {
      "name": "paginationContinuationToken",
      "description": "The pagination continuation token you want to get next page.",
      "in": "query",
      "required": false,
      "type": "string",
      "format": "PaginationContinuationToken"
    },
    "marketplaceOrderIdParameter": {
      "name": "marketplaceOrderId",
      "description": "The marketplace order identifier",
      "in": "path",
      "required": true,
      "type": "string",
      "format": "MarketplaceOrderId",
      "x-example": "M1234X10"
    },
    "ifNoneMatchRequiredParameter": {
      "name": "If-None-Match",
      "type": "string",
      "in": "header",
      "required": true,
      "description": "ETag value to identify the last known version of requested resource.\\\nTo avoid useless exchange, we recommend you to indicate the ETag you previously got from this operation.\\\nIf the ETag value does not match the response will be 200 to give you a new content, otherwise the response will be: 304 Not Modified, without any content.\\\nFor more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3\n"
    },
    "orderChangeIdParameter": {
      "name": "orderChangeId",
      "in": "path",
      "required": true,
      "type": "string",
      "format": "OrderChangeId",
      "description": "Order change identifier which is equivalent to the correlationId"
    }
  },
  "responses": {
    "200_HealthCheck": {
      "description": "The health check of the API",
      "headers": {
        "x-MKP-ADPT-ExchangeMessages": {
          "type": "string",
          "description": "The exchange messages with the marketplace. Exchange Messages type serialized in Json encoded in base64.",
          "format": "ExchangedMessages"
        }
      },
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/healthCheckDomain"
        }
      }
    },
    "400_MBC_Invalid": {
      "description": "The marketplace business code is invalid",
      "schema": {
        "$ref": "#/definitions/errorResponseMessage"
      }
    },
    "403_Invalid_Merchant_Credentials": {
      "description": "The merchant credentials are invalid",
      "schema": {
        "$ref": "#/definitions/errorResponseMessage"
      }
    },
    "GeneralError": {
      "description": "Occurs when something goes wrong",
      "schema": {
        "$ref": "#/definitions/errorResponseMessage"
      }
    },
    "404_BeezUP_TraceId_NotFound": {
      "description": "BeezUP Trace Id is not found",
      "schema": {
        "$ref": "#/definitions/errorResponseMessage"
      }
    },
    "409_Not_Yet_Available": {
      "description": "Resource not yet available",
      "schema": {
        "$ref": "#/definitions/errorResponseMessage"
      }
    },
    "404_Publication_NotFound": {
      "description": "The combination of MarketplaceBusinessCode, AccountId and publication id is not found",
      "schema": {
        "$ref": "#/definitions/errorResponseMessage"
      }
    },
    "409_Publication_Already_Completed": {
      "description": "The publication id is already completed",
      "schema": {
        "$ref": "#/definitions/errorResponseMessage"
      }
    },
    "409_Publication_Already_Exists": {
      "description": "The publication id  already exists",
      "schema": {
        "$ref": "#/definitions/errorResponseMessage"
      }
    },
    "400_MBC_Or_Request_Invalid": {
      "description": "The marketplace business code is invalid or the request is invalid",
      "schema": {
        "$ref": "#/definitions/errorResponseMessage"
      }
    },
    "503_Marketplace_Down": {
      "description": "The marketplace has an invalid response",
      "headers": {
        "x-MKP-ADPT-ExchangeMessages": {
          "type": "string",
          "description": "The exchange messages with the marketplace. Exchange Messages type serialized in Json encoded in base64.",
          "format": "ExchangedMessages"
        }
      },
      "schema": {
        "$ref": "#/definitions/errorResponseMessage"
      }
    },
    "404_OrderChangeId_Not_Found": {
      "description": "Order change not found",
      "schema": {
        "$ref": "#/definitions/errorResponseMessage"
      }
    },
    "404_Order_Not_Found": {
      "description": "Order not found",
      "schema": {
        "$ref": "#/definitions/errorResponseMessage"
      }
    },
    "304_NotModified": {
      "description": "The ETag sent in the http header If-None-Match did not change. So you are up to date !",
      "headers": {
        "Last-Modified": {
          "type": "string",
          "format": "date-time",
          "description": "Last modification UTC date of the resource\\\nFor more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2\n"
        },
        "ETag": {
          "type": "string",
          "description": "ETag value to identify the current version of the resource\\\nFor more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3\n"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find the documentation for BeezUP's API here",
    "url": "https://api-docs.beezup.com/"
  },
  "x-tagGroups": [
    {
      "name": "Marketplace Gateway API - Platform",
      "tags": [
        "Marketplace Gateway API - Platform - Platform"
      ]
    },
    {
      "name": "Marketplace Gateway API - Feeds",
      "tags": [
        "Marketplace Gateway API - Feeds - Publication"
      ]
    },
    {
      "name": "Marketplace Gateway API - Orders",
      "tags": [
        "Marketplace Gateway API - Orders - Order Management"
      ]
    }
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key"
    }
  }
}